@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
    padding: 0;
    margin: 0;
}

/* Shared styles part */

.btn-primary{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px;
    font-size: 0.87rem;
    font-weight: 500;
    border: 1px solid black;
}

/* Navbar styles parte */

.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 450px;
    background-color: #2D25A0;
    padding: 50px 100px 50px 150px;
}

.links{
    display: flex;
    gap: 35px;
    list-style: none;
}

.link{
    color: #FFFFFF;
    font-weight: 600;
}

.btn{
    color: #FFFFFF;
    background-color: #E02C6D;
    padding: 10px;
    font-size: 0.87rem;
    font-weight: 500;
    border: 1px solid black;
}

/* Banner styles part */

.banner{
    background-color: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    padding: 0 150px 80px 150px;
}

.banner-title{
    font-size: 4rem;
    font-weight: bold;
    color: #FFFFFF;
    line-height: 70px;
    margin-bottom: 25px;
}

.banner>img{
    width: 550px;
    height: 435px;
}

/* Cards styles part */

.cards{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 70px 180px;
    gap: 30px;
}

.boxs{
    background-color: #FFFFFF;
    box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.15);
    padding: 15px;
}

.box-title{
    font-size: 1.75rem;
    font-weight: bold;
    color: #18191F;
}

.box-desco{
    color: #6C6C6C;
}
.boxs>img{
    width:100%;
    height: 250px;
}

/* All Highlights */

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 80px 150px;
    gap: 60px;
}

.content-title{
    font-size: 3rem;
    font-weight: bold;
}

.content-desco{
    color: #6C6C6C;
    margin-bottom: 15px;
}

.content-img>img{
    width: 560px;
    height: 420px;
}

/* Footer logo */

.logo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo>img{
    width: 350px;
    height: 70px;
}

.social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.social>img{
    width: 22px;
    height: 22px;
}

.cp-text{
    text-align: center;
    font-size: 1.12rem;
    margin-top: 12px;
}

@media screen and ( max-width: 576px ){
    .banner,
    .navbar,
    .content{
        flex-direction: column;
    }

    .navbar{
        gap: 100px;
        padding: 20px 80px;
    }

    .content-img>img{
        width: 100%;
    }

    .banner>img{
        width: 400px;
    }

    .cards,
    .content{
        grid-template-columns: 1fr;
        margin: 50px 60px;
    }
}